* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #121212;


}

/* Change the background color and text color of selected text */
::selection {
    background: #fecd66; /* background color */
    color: #000000; /* text color */
}

/* Webkit browsers */
::-webkit-selection {
    background: #fecd66;
    color: #000000;
}

/* Mozilla Firefox */
::-moz-selection {
    background:#fecd66;
    color: #000000;
}




.wrapper {
    display: flex;
    width: 1120px;
    height: 100vh;
    margin: 0px auto 10px auto;
    gap: 10px;
}



.left {
    scrollbar-width: none;
    flex: 1;
    flex: 0 0 27%;
    overflow-y: auto;
    position: relative;
    padding: 20px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}


.right {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 71px 0 0;

}




.left-box {
    display: flex;
    margin: 0;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    transition: top 0.8s ease-in-out, position 0.8s ease-in-out;
    animation: fadeleft 1s;

}

.profile-card {
    background-color: #1e1e1f;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: -moz-hidden-unscrollable;
    width: 85%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 40px 20px 20px 20px;
    /* height: 650px; */
    border: 1px solid #414141;



}

#expand-button {
    display: none;
}


.profile-image img {
    border-radius:25%;
    width: 100px;
    height: 100px;
}

.profile-info h2 {
    margin: 10px 0;
    font-size: 22px;
    font-weight: 600;
}

.profession {
    background-color: #2e2e2e;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
}

.profile-card hr {
    border: 0.5px solid #444;
    margin: 20px 0;
}

.profile-details {
    text-align: left;
    margin-bottom: 20px;
    color: #d6d6d6;
}

.detail {
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 30px 0;
}

.icon {
    background-color: #2e2e2e;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #f1c40f;
    height: 45px;
}

.label {
    color: #ffcc00;
    font-size: 12px;
    margin: 0;
}

.detail info {
    margin: 0;
    color: #d6d6d6;
}

.profile-socials {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.profile-socials a {
    margin: 0 10px;
    color: #aaa;
    text-decoration: none;
    height: 20px;
    width: 20px;

}

.profile-socials a:hover {
    color: #f1c40f;
}





.right-box {
    padding: 40px 20px;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1f;
    border: 1px solid #414141;
    position: relative;
    display: block;
    margin-bottom: 20px;
    animation: faderight 1s;

}

/*///////////////////////////////////////////////////////////*/


.navbar {
    display: flex;
    justify-content: center;
    background-color: #252525;
    padding: 3px 30px;
    border-bottom: 2px solid #333;
    position: absolute;
    border-radius: 0 20px;
    top: 0px;
    right: 0px;
    border: 1px solid #414141;
    z-index: 2;
    animation: fadedown 3.5s;
}

.navbar a {
    color: #b0b0b0;
    text-decoration: none;
    padding: 14px 20px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #fff;
}

.navbar a.active {
    color: #f5c518;
}

.about-me {
    top: 42px;
    animation: fadeup 1s;
    /* display: none; */

}

.about-me h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 20px;
}

.about-me p {
    font-weight: 400;
    line-height: 1.6;
    padding: 20px;
    color: #d6d6d6;
}

.about-me hr {

    height: 2.5px;
    background: #ffcc00;
    color: #ffcc00;
    width: 150px;
    border-radius: 10px;
    margin-left: 20px;
}

.what-im-doing {
    margin: 20px 0;
}

.what-im-doing h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 20px;

}

.services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.service {
    background-color: #252525;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    border: 1px solid #414141;

}



.service::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(#383838);
    border-radius: inherit;
    z-index: -1;
}



.service-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service img {
    max-width: 50px;
    /* Adjust the size of the image as needed */
    border-radius: 5px;
    /* Add border radius to the image */
    margin-right: 5px;
    /* Add space between the image and the heading */
}

.service h3 {
    font-weight: 500;
    margin: 0;
    /* Remove default margin */
}

.service p {
    font-weight: 400;
    line-height: 1.6;
    padding: 0 0 0 53px;
    color: #d6d6d6;
}





.resume {
    max-width: 800px;
    margin: 0px auto;
    padding: 0 20px 20px 20px;
    background-color: #1e1e1f;
    border-radius: 10px;
    display: none;
    animation: fadeup 1s;
}

.resume h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
    border-bottom: 2px solid #ffc107;
    display: inline-block;
    padding-bottom: 10px;
}

.education h2 {
    font-size: 25px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.education h2 i {
    margin-right: 10px;
    font-size: 24px;
    color: #ffc107;
}

.timeline {
    position: relative;
    padding-left: 40px;
    margin-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 23px;
    width: 2px;
    background-color: #2e2e2d;
}

.timeline .education-item {
    position: relative;
    margin-bottom: 40px;
}

.timeline .education-item .timeline-icon {
    position: absolute;
    left: -26px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #252525;
    border: 2px solid #ffc107;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc107;
    font-size: 10px;
}

.timeline .education-item .timeline-content {
    margin-left: 40px;
}

.timeline .education-item h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
    font-weight: normal;
}

.timeline .education-item .years {
    font-size: 18px;
    color: #ffc107;
    display: block;
    margin-bottom: 10px;
}

.timeline .education-item p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    color: #d6d6d6;
}



/* jhgdfffffffjd */


.realResume-skill {
    display: none;
    animation: fadeup 1s;
    /* display: flex; */

}


.realResume-skill h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 20px;
}


.realResume-skill hr {

    height: 2.5px;
    background: #ffcc00;
    color: #ffcc00;
    width: 150px;
    border-radius: 10px;
    margin-left: 20px;
}


.realResume-skill h2 {
    font-weight: 500;
    font-size: 1.5rem;
    margin: 20px 0px;
    padding-left: 20px;

}

.gridd {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 22px;
    align-items: center;
    justify-items: center;
    padding: 10px 20px;

}




#web-design {
    animation: fadeup 1s;
}

#applications,
#web-development {
    display: none;
    animation: fadeup 1s;
}

.g {
    background: #252525;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #414141;


}


.imgsize {
    height: 40px;
    width: 40px;
    transition: transform 0.5s;


}

.gnone {
    display: none;
    background: #090909;
}



/* contact sec --------------------------------------------------- */


.contactsection {
    animation: fadeup 1s;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contactdivs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.contact-form {
    /* background-color: #222; */
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin-top: 45px;
    /* border: 1px solid #414141; */
}


.contact-form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;

}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #888888;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #555;
}

.contact-form textarea {
    resize: vertical;
    height: 150px;
}

.contact-form button {
    padding: 10px;
    background-color: #444;
    border: none;
    border-radius: 4px;
    color: #ffcc00;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#result {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

/* poject sction ------------------------------------------------------------ */

.projectsection h1 {
    text-align: center;
    font-size: 34px;
    border-bottom: 2px solid #ffc107;
    display: inline-block;
    padding-bottom: 10px;
}



.projectsection {
    animation: fadeup 1s;
    display: none;
}

.project-nav {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.project-nav button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}


.project-nav button:hover {
    color: #FF9800;
}





.project-nav button.active {
    color: #FF9800;
}



.project-card-container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.project-card-container .card {
    background-color: #2A2A2A;
    border-radius: 10px;
    overflow: hidden;
    /* width: 200px; */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-card-container .card:hover {
    transform: translateY(-10px);
}

.project-card-container .card img {
    width: 100%;
    height: auto;
}

.project-card-container .card h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.project-card-container .card p {
    margin: 0 0 10px;
    font-size: 0.9em;
    color: #CCCCCC;
}


@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.97);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes fadedown {
   100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

    0% {
        opacity: 1;
        transform: translateY(-25px) scale(1);
    }
}

@keyframes fadeleft {
    0% {
        transform: translateX(-30px);
    }

    33% {
        
        transform: translateX(15px) scale(1);
    }

    66% {
        
        transform: translateX(-7px) scale(1);
    }

    100% {
        
        transform: translateX(0px) scale(1);
    }
}

@keyframes faderight {
    0% {
        transform: translateX(30px);
    }

    33% {
        
        transform: translateX(-15px) scale(1);
    }

    66% {
        
        transform: translateX(7px) scale(1);
    }

    100% {
        
        transform: translateX(0px) scale(1);
    }
}






.mobile-view-navbar {
    display: none;
}